@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

a {
  text-decoration: none;
}

a:focus, button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

label, button, a {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

ul {
  list-style-type: none;
}

svg, a {
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

picture {
  font-size: 0;
}

@font-face {
  font-family: 'playfair_displayblack';
  src: url("../fonts/playfair-display-black-webfont.woff2") format("woff2"), url("playfair-display-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body {
  min-width: 320px;
}

.body.overlay {
  position: relative;
  overflow: hidden;
}

.body.overlay::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #333333;
  opacity: .3;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 296px;
  width: calc(100vw - 72px);
}

.logo {
  width: 187px;
  height: 27px;
}

.section {
  padding: 35px 0;
}

.btn {
  padding: 20px 48px;
  color: #fff;
  background-color: #A65CF0;
  border-radius: 10px;
  border: 2px solid transparent;
  font: 700 16px/1 OpenSans;
  -webkit-transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;
  transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;
}

@media screen and (any-hover: hover) {
  .btn:hover {
    background-color: #C998FB;
  }
}

.btn.focus-visible {
  border-color: #7033AC;
}

.btn_trans {
  padding: 17px 32px;
  color: #A65CF0;
  background-color: transparent;
  border-color: #A65CF0;
}

.btn_trans.focus-visible {
  color: #fff;
  background-color: #C998FB;
}

@media screen and (any-hover: hover) {
  .btn_trans:hover {
    color: #fff;
    background-color: #A65CF0;
  }
}

.btn:active {
  background-color: #7033AC;
}

.btn_trans:active {
  color: #fff;
}

.round-btn {
  width: 32px;
  height: 32px;
  padding: 8px 11px 8px 12px;
  border: 2px solid #A65CF0;
  border-radius: 100%;
  background-color: transparent;
  -webkit-transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
  transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
}

.round-btn .arrow {
  width: 7px;
  height: 12px;
  color: #A65CF0;
}

@media screen and (any-hover: hover) {
  .round-btn:hover {
    background-color: #A65CF0;
    border-color: #A65CF0;
  }
  .round-btn:hover .arrow {
    color: #fff;
  }
}

.round-btn.focus-visible {
  background-color: #C998FB;
  border-color: #A65CF0;
}

.round-btn.focus-visible .arrow {
  color: #fff;
}

.round-btn:active {
  background-color: #7033AC;
  border-color: #7033AC;
}

.round-btn:active .arrow {
  color: #fff;
}

.round-btn[disabled] {
  border-color: #999;
  pointer-events: none;
}

.round-btn[disabled] .arrow {
  color: #999;
}

.round-btn_rew {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-title {
  color: #333333;
  font: 400 32px/1 OpenSans;
}

.lesser-title {
  margin-bottom: 12px;
  color: #333333;
  font: 400 24px/33px OpenSans;
}

.text {
  color: #666666;
  font: 400 16px/1.8 OpenSans;
}

.popup {
  position: relative;
  top: 50px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
}

.modal {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
}

.modal-container > *:not(.is-shown) {
  display: none;
  visibility: hidden;
}

.thank-you-message {
  width: 624px;
  max-width: calc(100vw - 24px);
  padding: 267px 75px 122px;
  background: #fff no-repeat top 118px center/172px 117px url("../img/orange_elephant.svg");
}

.thank-you-message__content {
  display: block;
  margin: 0 auto;
  color: #333333;
  font: 400 32px/1 OpenSans;
  text-align: center;
}

.close-btn {
  position: absolute;
  z-index: 12;
  top: 18px;
  right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
}

.close-btn::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: transparent;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.close-btn .exit {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  pointer-events: none;
  color: #999;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.close-btn.focus-visible {
  background-color: #EBD1FF;
}

@media screen and (any-hover: hover) {
  .close-btn:hover .exit {
    color: #A65CF0;
  }
}

.close-btn:active .exit {
  color: #7033AC;
}

/* МЕДИАЗАПРОСЫ */
/* 2й брейкпоинт 1000рх */
@media (max-width: 1000px) {
  .container {
    width: calc(100vw - 144px);
  }
}

/* 3й брейкпоинт 767рх */
@media (max-width: 767px) {
  .header__data-block {
    margin-bottom: 32px;
  }
  .container {
    width: calc(100vw - 24px);
  }
}

/* 4й брейкпоинт 583рх */
@media (max-width: 583px) {
  .bread-crumbs {
    display: none;
    visibility: hidden;
  }
  .section-title {
    font-size: 24px;
  }
  .popup {
    top: 25px;
  }
  .thank-you-message {
    padding: 124px 50px 60px;
    background-size: 73px 50px;
    background-position: top 60px center;
  }
  .thank-you-message__content {
    font-size: 16px;
  }
}

.header {
  position: relative;
  z-index: 5;
  width: 100%;
  padding-bottom: 32px;
  /* общие стили селектов */
  /* Стрелки для обоих выпадах */
  /* настройки селекта города */
}

.header__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__location-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 352px;
  padding: 13px 0 11px;
  grid-column: span 4;
}

.header .choices {
  z-index: 5;
}

.header .choices__list[role="listbox"] {
  position: relative;
  z-index: 1;
  cursor: auto;
}

.header .choices__list[role="listbox"] .choices__item--selectable:after {
  position: absolute;
  z-index: -1;
  content: '';
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  background-color: transparent;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.header .choices__list[role="listbox"] .choices__item--selectable[aria-selected="true"]:after {
  background-color: #F8EFFF;
}

.header .choices__item {
  position: relative;
  background-color: transparent;
  -webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out;
  transition: color .25s ease-in-out, background-color .25s ease-in-out;
  cursor: pointer;
}

.header .choices__list .header .choices__item[aria-selected="true"] {
  color: #C998FB;
}

.header .choices__inner::before, .header .choices__inner::after, .header .categories__control::before, .header .categories__control::after {
  content: '';
  position: absolute;
  top: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  height: 1px;
  width: 8px;
  pointer-events: none;
  background-color: #A65CF0;
  -webkit-transition: background-color .25s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: background-color .25s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out, background-color .25s ease-in-out;
  transition: transform .4s ease-in-out, background-color .25s ease-in-out, -webkit-transform .4s ease-in-out;
}

.header .choices__inner::before {
  right: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .choices__inner::after {
  right: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .choices.focus-visible .choices__inner {
  background-color: #EBD1FF;
}

.header .choices.is-open .choices__inner::before, .header .choices.is-open .choices__inner::after {
  background-color: #7033AC;
}

.header .choices[data-type*=select-one].is-open .choices__inner::before {
  -webkit-transform: translateX(5px) rotate(45deg);
          transform: translateX(5px) rotate(45deg);
}

.header .choices[data-type*=select-one].is-open .choices__inner::after {
  -webkit-transform: translateX(-5px) rotate(-45deg);
          transform: translateX(-5px) rotate(-45deg);
}

@media screen and (any-hover: hover) {
  .header .choices .choices__inner:hover::before, .header .choices .choices__inner:hover::after {
    background-color: #C998FB;
  }
}

.header__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: normal 16px/1.2 OpenSans;
  color: #333333;
}

.header__label .choices {
  width: 83px;
  margin-right: 29px;
  padding: 0 2px;
  color: #A65CF0;
  font: normal 16px/1.2 OpenSans;
}

.header__label .choices__inner {
  padding-left: 2px;
}

.header__label .choices__item {
  display: inline-block;
  font: normal 16px/1.2 OpenSans;
}

.header__label .choices__list[role="listbox"] {
  width: 86px;
  padding: 16px 15px;
  background-color: #fff;
  border: 2px solid #f7f7f7;
}

.header__label .choices__list[role="listbox"] .choices__item {
  color: #333333;
  font: 400 14px/1.3 OpenSans;
}

.header__label .choices__list[role="listbox"] .choices__item:not(:last-child) {
  margin-bottom: 8px;
}

.header .choices.is-open .choices__list--single .choices__item {
  color: #7033AC;
}

@media screen and (any-hover: hover) {
  .header .choices__inner:hover .choices__list--single .choices__item {
    color: #C998FB;
  }
}

.header__phone-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 2px;
  font: normal 14px/1 OpenSans;
  color: #FF862F;
}

@media screen and (any-hover: hover) {
  .header__phone-link:hover {
    color: #FFBD59;
  }
  .header__phone-link:hover .phone {
    color: #FFBD59;
  }
}

.header__phone-link.focus-visible {
  background-color: #FFF5D1;
}

.header__phone-link:active {
  color: #BB370E;
}

.header__phone-link:active .phone {
  color: #BB370E;
}

.header .phone {
  width: 18px;
  height: 18px;
  color: #FF862F;
}

.header__menu-block {
  grid-column: span 12;
}

.header__logo {
  grid-column: span 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 0;
}

.header__menu-wrap {
  grid-column: span 10;
  -ms-grid-column-align: end;
      justify-self: end;
  max-width: 100%;
}

.header__menu-wrap .sec-menu {
  display: none;
  visibility: hidden;
}

.header__nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
}

.header__search-wrap {
  position: relative;
  width: calc(100% - 300px);
}

.header__search {
  height: 60px;
  width: 100%;
  padding: 20px 68px 20px 59px;
  color: #333333;
  font: 400 16px/1.2 OpenSans;
  -webkit-transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
  transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
  background-color: #F6F6F6;
  border-radius: 10px 0px 0px 10px;
  border: 2px solid #F6F6F6;
}

@media screen and (any-hover: hover) {
  .header__search:hover {
    background-color: #EAEAEA;
    border-color: #EAEAEA;
  }
}

.header__search.focus-visible {
  background-color: #F8EFFF;
  border-color: #A65CF0;
}

.header__search:placeholder {
  color: #999;
}

.header .loupe {
  position: absolute;
  top: 20px;
  left: 32px;
  height: 20px;
  width: 20px;
  color: #999;
}

.header__search:active + .loupe {
  color: #A65CF0;
}

.header__input-btn {
  position: absolute;
  z-index: 3;
  right: 32px;
  top: 16px;
}

.header__data-block {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  grid-column: span 10;
}

.burger {
  display: none;
}

.categories {
  position: relative;
  width: 300px;
  /*стрелочка*/
}

.categories__control {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 60px;
  border: 2px solid #F6F6F6;
  border-radius: 0px 10px 10px 0px;
  padding: 19px 32px;
  color: #A65CF0;
  font: 400 16px/22px OpenSans;
  text-align: left;
  background-color: #fff;
  -webkit-transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
  transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
}

.categories__control.focus-visible {
  background-color: #F8EFFF;
  border-color: #A65CF0;
}

.categories__control:active {
  border-color: #7033AC;
}

.categories__dropdown {
  position: absolute;
  top: 10px;
  left: 0;
  padding-top: 40px;
  width: 100%;
  max-height: 0;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid #F6F6F6;
  overflow: hidden;
  -webkit-transition: max-height .3s ease-in-out;
  transition: max-height .3s ease-in-out;
}

.categories__dropdown:not(.is-opened) {
  z-index: 0;
  visibility: hidden;
}

.categories__list {
  width: 100%;
  padding: 22px 30px;
  -webkit-column-count: 2;
          column-count: 2;
}

.categories__item {
  margin-bottom: 10px;
}

.categories__link {
  font: 400 16px/1.3 OpenSans;
  color: #333333;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.categories__link.focus-visible {
  background-color: #F8EFFF;
}

.header .categories__control::before, .header .categories__control::after {
  top: 30px;
}

.header .categories__control::before {
  right: 38px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .categories__control::after {
  right: 33px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.categories__control.is-active::before {
  -webkit-transform: translateX(5px) rotate(45deg);
          transform: translateX(5px) rotate(45deg);
}

.categories__control.is-active::after {
  -webkit-transform: translateX(-5px) rotate(-45deg);
          transform: translateX(-5px) rotate(-45deg);
}

@media screen and (any-hover: hover) {
  .categories__control:hover {
    border-color: #A65CF0;
  }
}

.account {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
  width: 107px;
  grid-column: span 2;
  justify-self: end;
  margin-right: -3px;
  color: #A65CF0;
}

.account__counter {
  position: absolute;
  right: 31px;
  top: calc(50% - 7.5px);
  display: block;
  width: 14px;
  height: 15px;
  border-radius: 100%;
  background-color: #FF862F;
  color: #fff;
  font: 700 10px/15px OpenSans;
  text-align: center;
}

.account__login, .account__cart {
  position: relative;
  padding: 4px;
  font-size: 0;
  background-color: transparent;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.account__cart {
  padding-left: 15px;
}

@media screen and (any-hover: hover) {
  .account__login:hover .lk, .account__cart:hover .cart {
    color: #C998FB;
  }
}

.account__login.focus-visible .lk, .account__cart.focus-visible .cart {
  color: #fff;
}

.account__login.focus-visible, .account__cart.focus-visible {
  background-color: #C998FB;
}

.account__login:active .lk, .account__cart:active .cart {
  color: #7033AC;
}

.lk {
  width: 26px;
  height: 28px;
}

.cart {
  width: 30px;
  height: 28px;
}

.sec-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 11px 0;
  grid-column: span 8;
  justify-self: end;
  width: 710px;
  max-width: 100%;
  min-height: 100%;
}

.sec-menu::after {
  content: '';
  position: absolute;
  z-index: -1;
  right: var(--stripe-shift);
  top: 0;
  bottom: 0;
  width: var(--stripe-width);
  background-color: #F6F6F6;
}

.sec-menu__item {
  position: relative;
  z-index: 0;
}

.sec-menu__item:not(:last-child) {
  margin-right: 9.09774648%;
}

.sec-menu__link {
  position: relative;
  font: normal 14px/1 OpenSans;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 952px;
  max-width: 100%;
  min-height: 100%;
}

.menu__item:not(:last-child) {
  margin-right: 9.70157563%;
}

.menu__link {
  position: relative;
  font: normal 16px/22px OpenSans;
  color: #333333;
}

@media screen and (any-hover: hover) {
  .menu__link:hover, .grey-link:hover, .categories__link:hover, .choices__item:hover {
    color: #A65CF0;
  }
}

.grey-link {
  color: #999;
}

.menu__link::after, .grey-link::after {
  position: absolute;
  z-index: -1;
  content: '';
  top: -1px;
  right: -2px;
  bottom: -1px;
  left: -2px;
  background-color: transparent;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.menu__link.focus-visible::after, .grey-link.focus-visible::after {
  background-color: #EBD1FF;
}

.menu__link:active, .grey-link:active {
  color: #7033AC;
}

.bread-crumbs {
  grid-column: span 12;
  font: 400 14px/1 OpenSans;
  color: #999;
}

.bread-crumbs__link {
  position: relative;
  margin-right: 4px;
}

.bread-crumbs__current-page {
  color: #7033AC;
}

/* MEDIA */
/* 1й брейкпоинт 1230рх */
@media (max-width: 1230px) {
  .header {
    padding-bottom: 33px;
  }
  .header__container {
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
  }
  .header__label {
    padding-top: 4px;
  }
  .header__location-block {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / 11;
    margin-bottom: -32px;
    padding-top: 15px;
    padding-bottom: 17px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__label {
    margin-right: auto;
  }
  .header__sec-menu {
    -ms-grid-column-align: start;
        justify-self: start;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header__sec-menu::after {
    right: auto;
    left: var(--stripe-shift);
  }
  .header__account-block {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column-end: 11;
  }
  .header__menu-wrap {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
  }
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__item:not(:last-child) {
    margin-right: 5.7%;
  }
  .bread-crumbs {
    grid-column: span 9;
  }
}

/* 2й брейкпоинт 1000рх */
@media (max-width: 1000px) {
  .header__container {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__location-block {
    grid-column-end: 7;
  }
  .header__logo {
    position: relative;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header__account-block {
    position: absolute;
    right: 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    grid-column-end: 7;
  }
  .header__menu-wrap {
    position: absolute;
    z-index: 9;
    top: -32px;
    left: var(--stripe-shift);
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
    -ms-grid-row: 3;
        grid-row-start: 3;
    max-width: none;
    max-height: 0;
    width: 100vw;
    border-top: 1px solid #F6F6F6;
    background-color: #fff;
    background-position: right 72px bottom 60px;
    background-size: 161px 112px;
    background-repeat: no-repeat;
    background-image: url("../img/logo_elephant.svg");
    overflow: hidden;
    -webkit-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out;
  }
  .header__menu-wrap:not(.is-opened) {
    z-index: 0;
    border-bottom: 1px solid #F6F6F6;
  }
  .header__menu-wrap:not(.is-opened) .header__nav, .header__menu-wrap:not(.is-opened) .sec-menu {
    visibility: hidden;
  }
  .header__data-block {
    grid-column: span 6;
  }
  .header__search-wrap {
    width: 435px;
  }
  .categories {
    width: calc(100% - 435px);
  }
  .categories__list {
    padding: 12px 7px;
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
  .sec-menu {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .sec-menu__item:not(:last-child) {
    margin-right: 35px;
  }
  .burger {
    position: absolute;
    left: 0;
    top: 2px;
    z-index: 10;
    display: block;
    -ms-grid-row: 3;
        grid-row-start: 3;
    width: 24px;
    height: 24px;
  }
  .burger__stripe {
    position: absolute;
    left: 0;
    display: block;
    height: 3px;
    width: 24px;
    background-color: #A65CF0;
    border-radius: 4px;
    pointer-events: none;
  }
  .burger__stripe_1 {
    top: 0;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  }
  .burger__stripe_2 {
    top: calc((100% - 3px) / 2);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform .25s ease-in-out .4s;
    transition: -webkit-transform .25s ease-in-out .4s;
    transition: transform .25s ease-in-out .4s;
    transition: transform .25s ease-in-out .4s, -webkit-transform .25s ease-in-out .4s;
  }
  .burger__stripe_3 {
    bottom: 0;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  }
  .burger::after {
    position: absolute;
    z-index: -1;
    content: '';
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    background-color: transparent;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
  }
  .burger.focus-visible::after {
    background-color: #C998FB;
  }
  .burger:active .burger__stripe {
    background-color: #7033AC;
  }
  .burger.is-active .burger__stripe_1 {
    -webkit-transform: translateY(350%) rotate(-135deg);
            transform: translateY(350%) rotate(-135deg);
    -webkit-transition: -webkit-transform .6s ease-in-out .1s;
    transition: -webkit-transform .6s ease-in-out .1s;
    transition: transform .6s ease-in-out .1s;
    transition: transform .6s ease-in-out .1s, -webkit-transform .6s ease-in-out .1s;
  }
  .burger.is-active .burger__stripe_2 {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
  }
  .burger.is-active .burger__stripe_3 {
    -webkit-transform: translateY(-350%) rotate(135deg);
            transform: translateY(-350%) rotate(135deg);
    -webkit-transition: -webkit-transform .6s ease-in-out .1s;
    transition: -webkit-transform .6s ease-in-out .1s;
    transition: transform .6s ease-in-out .1s;
    transition: transform .6s ease-in-out .1s, -webkit-transform .6s ease-in-out .1s;
  }
  .menu {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 92px 72px 60px;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 64px;
            column-gap: 64px;
    overflow: auto;
  }
  .menu__item {
    margin-right: 64px;
    margin-bottom: 41px;
  }
  .bread-crumbs {
    grid-column: span 6;
  }
}

/* 3й брейкпоинт 767рх */
@media (max-width: 767px) {
  .header__container {
    row-gap: 0;
  }
  .header .sec-menu {
    display: none;
    visibility: hidden;
  }
  .header__logo {
    -ms-grid-row: 1;
        grid-row-start: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 11px 0 12px;
    width: 100%;
  }
  .header__logo::after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    bottom: 0;
    left: var(--stripe-shift);
    width: var(--stripe-width);
    background-color: #F6F6F6;
  }
  .header__menu-wrap {
    background: #fff;
  }
  .header__location-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
    width: 100%;
  }
  .header__label {
    margin-right: 20px;
  }
  .header__phone-link {
    min-width: 143px;
  }
  .header__account-block {
    position: relative;
    padding: 7px 0;
  }
  .header__menu-wrap {
    top: 0;
    max-height: 50px;
  }
  .header__menu-wrap .sec-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 24px 12px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    grid-column: unset;
    justify-self: unset;
  }
  .header__menu-wrap .sec-menu::after {
    left: 0;
    right: 0;
    width: auto;
  }
  .header__menu-wrap .sec-menu__item {
    margin-bottom: 12px;
    width: calc(50% - 10px);
  }
  .header__menu-wrap .sec-menu__item:not(:last-child) {
    margin-right: 10px;
  }
  .header__search-wrap {
    width: calc(100% - 189px);
  }
  .header__categories {
    width: 189px;
  }
  .burger {
    left: 4px;
    top: 12px;
  }
  .bread-crumbs {
    margin-top: 32px;
  }
}

/* 4й брейкпоинт 583рх */
@media (max-width: 583px) {
  .header {
    padding-bottom: 0;
  }
  .header__label {
    margin-bottom: 15px;
  }
  .header__phone-link {
    min-width: 143px;
    margin-bottom: 15px;
  }
  .header__location-block {
    min-width: unset;
    padding-bottom: 0;
  }
  .header__data-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
  }
  .header__search-wrap {
    width: 100%;
    margin-bottom: 16px;
  }
  .header__search {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .menu {
    padding: 62px 12px 26px;
    gap: unset;
  }
  .categories {
    width: 100%;
  }
  .categories__list {
    padding: 20px 25px;
    -webkit-column-gap: unset;
            column-gap: unset;
  }
  .categories__control {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.footer__main-block {
  background-color: #EAEAEA;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0 23px;
}

.footer__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  margin-bottom: 27px;
}

.footer__copyright {
  display: block;
  padding: 5px 0 6px;
  background-color: #fff;
  color: #999;
  font: 400 14px/19px OpenSans;
  text-align: center;
}

.soc-links-list {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 20px;
  justify-self: flex-end;
}

.soc-links-list__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soc-links-list__link::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -3px;
  right: -3px;
  left: -3px;
  bottom: -3px;
  background-color: transparent;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.fb, .vk, .instagram {
  width: 30px;
  height: 30px;
  color: #999;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.more-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  gap: 26px 112px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: calc(100% - 212px);
  padding-top: 3px;
}

.more-info > :nth-child(2) {
  min-width: 154px;
}

.more-info > :nth-child(3) {
  min-width: 141px;
}

.more-info__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 6px;
  color: #333333;
  font: 400 16px/1 OpenSans;
}

.more-info__inner-list {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.more-info__link {
  position: relative;
  font: 400 14px/1 OpenSans;
}

/* soc-app-icons */
@media screen and (any-hover: hover) {
  .soc-links-list__link:hover .fb, .soc-links-list__link:hover .vk, .soc-links-list__link:hover .instagram {
    color: #A65CF0;
  }
}

.soc-links-list__link.focus-visible::after {
  background-color: #C998FB;
}

.soc-links-list__link:active .fb, .soc-links-list__link:active .vk, .soc-links-list__link:active .instagram {
  color: #7033AC;
}

/* MEDIA */
/* 1й брейкпоинт 1230рх */
@media (max-width: 1230px) {
  .more-info {
    gap: 26px 76px;
  }
}

/* 2й брейкпоинт 1000рх */
@media (max-width: 1000px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 0;
  }
  .footer__social-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 23px;
  }
  .more-info {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 26px 39px;
  }
}

/* 3й брейкпоинт 767рх */
@media (max-width: 767px) {
  .footer__social-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .more-info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 24px;
            column-gap: 24px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* 4й брейкпоинт 583рх */
@media (max-width: 583px) {
  .footer__social-block {
    margin-bottom: 24px;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer .more-info {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  .footer .more-info > :nth-child(n) {
    min-width: unset;
  }
}

.mail-us {
  padding-bottom: 69px;
}

.mail-us__container {
  background: no-repeat right top 25px url("../img/back-for-form.svg");
  background-size: calc(50% - 16px) auto;
}

.mail-us__content {
  position: relative;
  width: calc(50% - 16px);
}

.mail-us .section-title {
  margin-bottom: 9px;
}

.mail-us__description {
  display: block;
  margin-bottom: 16px;
  color: #666666;
  font: 400 14px/19px OpenSans;
}

.mail-us__tip-btn {
  display: inline-block;
  vertical-align: middle;
  border-radius: 7px;
  height: 14px;
  width: 14px;
}

.mail-us__tip-btn.focus-visible {
  background-color: #FFBD59;
}

.mail-us__tip-btn.focus-visible .tip-svg {
  color: #BB370E;
}

.mail-us__tip-btn.is-active {
  background-color: #FF862F;
}

.mail-us__tip-btn.is-active .tip-svg {
  color: #fff;
}

.tip-svg {
  width: 14px;
  height: 14px;
  margin: auto;
  color: #FF862F;
  pointer-events: none;
}

.mail-us-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 30px;
  color: #333333;
}

.mail-us-form__input {
  width: 100%;
  padding: 7px 18px 5px;
  border-radius: 10px;
  border: 1px solid transparent;
  font: 400 16px/40px OpenSans;
  background-color: #F6F6F6;
  -webkit-transition: background-color .25s ease-in-out, border-color .25s ease-in-out;
  transition: background-color .25s ease-in-out, border-color .25s ease-in-out;
}

@media screen and (any-hover: hover) {
  .mail-us-form__input:hover {
    background-color: #EAEAEA;
  }
}

.mail-us-form__input.focus-visible {
  border-color: #A65CF0;
  background-color: #F8EFFF;
}

.mail-us-form__input::-webkit-input-placeholder {
  color: #999;
}

.mail-us-form__input:-ms-input-placeholder {
  color: #999;
}

.mail-us-form__input::-ms-input-placeholder {
  color: #999;
}

.mail-us-form__input::placeholder {
  color: #999;
}

.mail-us-form__btn {
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 17px 32px;
}

.mail-us-form__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.mail-us-form__check:checked + .mail-us-form__check-mimick {
  background-color: #A65CF0;
  border-color: #A65CF0;
}

.mail-us-form__check.focus-visible + .mail-us-form__check-mimick {
  border-color: #7033AC;
  -webkit-box-shadow: 0 0 5px #7033AC;
          box-shadow: 0 0 5px #7033AC;
}

.mail-us-form__check-mimick {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid #999;
  background: #fff no-repeat center center/contain url("../img/check.svg");
  -webkit-transition: background-color .25s ease-in-out, border-color .25s ease-in-out;
  transition: background-color .25s ease-in-out, border-color .25s ease-in-out;
}

.mail-us-form__label {
  position: relative;
  justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -17px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font: 400 14px/19px OpenSans;
}

.mail-us-form__label::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media screen and (any-hover: hover) {
  .mail-us-form__label:hover .mail-us-form__link {
    text-decoration: underline;
  }
}

.mail-us-form__link {
  color: #A65CF0;
  background-color: transparent;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.mail-us-form__link.focus-visible {
  background-color: #F8EFFF;
}

/* tippy */
.tippy-box {
  color: #fff;
  font: 400 9px/14px OpenSans;
  border-radius: 0;
  background-color: #333333;
  text-align: center;
}

.tippy-box .tippy-arrow::before {
  color: #333333;
}

.tippy-box .tippy-content {
  padding: 5px;
}

/* just-validate */
.just-validate-tooltip-container {
  position: relative;
}

.valid-field {
  border-color: #B8EC64;
}

.invalid-field {
  border-color: #FF6972;
}

.just-validate-error-label {
  position: absolute;
  bottom: 55px;
  left: 18px;
  pointer-events: none;
  font: 400 12px/16px OpenSans;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.just-validate-error-label.just-validate-tooltip-hide {
  opacity: 0;
}

.just-validate-tooltip-container_check .just-validate-error-label {
  top: 2px;
}

/* MEDIA */
/* 1й брейкпоинт 1230рх */
@media (max-width: 1230px) {
  .mail-us__container {
    background-position: right center;
    background-size: calc(100% - 437px) auto;
  }
  .mail-us__content {
    width: 405px;
    max-width: 100%;
  }
}

/* 2й брейкпоинт 1000рх */
@media (max-width: 1000px) {
  .mail-us__container {
    background-image: url("../img/back-for-form_sm.svg");
    background-size: 187px 444px;
  }
}

/* 3й брейкпоинт 767рх */
@media (max-width: 767px) {
  .mail-us .mail-us__container {
    background: none;
  }
}

/* 4й брейкпоинт 583рх */
@media (max-width: 583px) {
  .mail-us {
    padding-top: 70px;
    padding-bottom: 68px;
  }
  .mail-us-form__label {
    margin-top: -19px;
    font-size: 12px;
    line-height: 16px;
  }
  .mail-us-form__check-mimick {
    margin-right: 6px;
  }
}

.item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 420px;
  height: 100%;
  padding: 30px;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.item__banner {
  position: absolute;
  left: 0;
  top: 30px;
  display: block;
  padding: 7px;
  min-height: 34px;
  min-width: 82px;
  background-color: #FF862F;
  color: #fff;
  font: 700 14px/19px OpenSans;
  text-align: center;
}

.item__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45px;
  margin-bottom: 8px;
  color: #FF862F;
  font: 400 16px/1.3 OpenSans;
}

.item__banner::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 17px;
  border-top-width: 17px;
  border-left: 10px solid #FF862F;
}

.item__pic {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 133px;
  margin: 0 -15px 16px;
}

.item__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item__title {
  margin-bottom: 23px;
  font: 400 24px/1.3 OpenSans;
  color: #333333;
}

.item__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 24px;
  font: 400 18px/1.3 OpenSans;
}

.item__hot-price {
  margin-right: 30px;
}

.item__usual-price {
  font-size: 16px;
  line-height: 18px;
  color: #999;
}

.item__price {
  margin-bottom: 22px;
  font: 400 16px/1.3 OpenSans;
  color: #666666;
}

.item__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.item__scheme {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item__btn {
  margin-top: auto;
}

/* 4й брейкпоинт 583рх */
@media (max-width: 583px) {
  .item {
    padding: 15px;
    min-height: 278px;
  }
  .item__rating {
    width: 36px;
    font-size: 12px;
    margin-bottom: 0;
  }
  .item__star {
    width: 13px;
    height: 12px;
  }
  .item__pic {
    margin-bottom: 14px;
    min-height: 63px;
  }
  .item__title {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .item__price {
    margin-bottom: 16px;
  }
  .item__btn {
    padding: 10px 23px;
  }
}

.bread-crumbs {
  margin-top: -11px;
}

.about {
  padding-bottom: 12px;
  color: #333333;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: Min(624px, 54%) 1fr;
      grid-template-columns: Min(624px, 54%) 1fr;
  grid-auto-flow: dense;
  gap: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about__title-block {
  grid-row: span 2;
  margin-top: 15px;
}

.about__info-title {
  margin-bottom: 8px;
  font: 600 16px/1 OpenSans;
}

.about__text {
  display: block;
  font: 400 14px/1.8 OpenSans;
}

.about__text:not(:last-child) {
  margin-bottom: 7px;
}

.about__secondary-image {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.about__item-title {
  margin-bottom: 5px;
  font: 400 24px/1.3 OpenSans;
}

.about__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45px;
  margin-bottom: 2px;
  color: #FF862F;
  font: 400 16px/1.3 OpenSans;
}

.about__description {
  display: block;
  margin-bottom: 20px;
  font: 400 14px/1 OpenSans;
  color: #999;
}

.about__price {
  display: block;
  margin-bottom: 21px;
  font: 400 36px/1.3 OpenSans;
}

.about__btns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.about__btn {
  margin-bottom: 12px;
  padding: 17px 33px;
  font-weight: 600;
}

.about__add-to-cart-btn {
  color: #A65CF0;
  font: 400 16px/1.3 OpenSans;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.about__add-to-cart-btn.focus-visible {
  background-color: #F8EFFF;
}

@media screen and (any-hover: hover) {
  .about__add-to-cart-btn:hover {
    border-bottom: 1px solid #A65CF0;
  }
}

.main-swiper {
  width: 100%;
  margin-bottom: -16px;
}

.main-swiper__photo {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.tabs-swiper {
  width: 100%;
  background-color: #F6F6F6;
}

.tabs-swiper__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 25px;
}

.tabs-swiper__slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 61px;
}

.tabs-swiper__slide:not(:last-child) {
  margin-right: 39px;
}

.tabs-swiper__slide.focus-visible {
  outline: 2px solid #A65CF0;
}

.tabs-swiper__slide .about__mini-photo {
  max-height: 100%;
}

.tabs-swiper .swiper-slide-thumb-active {
  display: none;
  width: 0;
}

.attributes-list {
  grid-row: span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  width: Min(544px, 100%);
  font: 400 14px/25px OpenSans;
}

.attributes-list__key {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999;
}

.attributes-list__key-text {
  justify-self: flex-start;
  background-color: #fff;
}

.attributes-list__dots-element {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  height: 9px;
  background-image: url("../img/ellipse.svg");
  background-repeat: repeat-x;
}

.similar {
  padding: 70px 0;
}

.similar__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 77px;
      grid-template-columns: 1fr 77px;
  row-gap: 24px;
}

.similar__title {
  color: #333333;
  font: 400 24px/1.3 OpenSans;
}

.similar__swiper {
  grid-column: span 2;
  width: 100%;
}

.similar .swiper-btns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 77px;
}

[class*="swiper-button"] {
  position: static;
}

[class*="swiper-button"]::after {
  display: none;
}

.swipers-clone {
  top: 143px;
  overflow: hidden;
}

.main-swiper-clone {
  padding: 50px;
}

.main-swiper-clone__photo {
  display: block;
  margin: 0 auto;
}

.tabs-swiper-clone {
  padding: 20px 50px;
  background-color: #F6F6F6;
}

.tabs-swiper-clone [class*="swiper-button"] {
  position: absolute;
  z-index: 3;
  top: calc(50% - 16px);
  display: none;
  visibility: hidden;
}

.tabs-swiper-clone .tabs-swiper-clone__swiper-button-prev {
  left: 16px;
}

.tabs-swiper-clone .tabs-swiper-clone__swiper-button-next {
  right: 16px;
}

.tabs-swiper-clone__slide {
  height: 126px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.mail-us-form {
  width: Min(624px, 100%);
  padding: 30px;
}

.mail-us-form__heading-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mail-us-form__title {
  margin-bottom: 8px;
  font: 400 32px/1 OpenSans;
}

.mail-us-form__instruction {
  width: Min(374px, 100%);
  font: 400 14px/19px OpenSans;
}

/* MEDIA */
/* 1й брейкпоинт 1230рх */
@media (max-width: 1230px) {
  .header {
    padding-bottom: 31px;
  }
  .bread-crumbs {
    margin-top: -7px;
  }
  .about {
    padding-bottom: 0;
  }
  .tabs-swiper__wrapper {
    padding: 10px;
  }
  .tabs-swiper-clone [class*="swiper-button"] {
    display: block;
    visibility: visible;
  }
  .tabs-swiper-clone::before, .tabs-swiper-clone::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    background-color: #F6F6F6;
  }
  .tabs-swiper-clone::before {
    left: 0;
  }
  .tabs-swiper-clone::after {
    right: 0;
  }
}

/* 2й брейкпоинт 1000рх */
@media (max-width: 1000px) {
  .about__container {
    -ms-grid-columns: 187px 1fr;
        grid-template-columns: 187px 1fr;
  }
  .about__main-swiper, .about__info-block, .about__secondary-image, .about__attributes-list {
    grid-column: span 2;
  }
  .about__attributes-list {
    width: 100%;
  }
  .about__info-block, .about__secondary-image {
    width: Min(515px, 100%);
  }
  .about__secondary-image {
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .about__title-block {
    grid-row: unset;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0;
  }
  .main-swiper {
    margin-bottom: 0;
  }
  .tabs-swiper {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    height: 349px;
  }
  .tabs-swiper__wrapper {
    padding: 25px 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tabs-swiper__slide {
    max-width: 100%;
  }
  .tabs-swiper__slide:not(:last-child) {
    margin-right: 0;
    margin-bottom: 18px;
  }
  .swipers-clone {
    top: 50px;
  }
  .main-swiper-clone {
    padding: 50px 20px;
  }
  .tabs-swiper-clone {
    padding: 20px 80px;
  }
  .tabs-swiper-clone::before, .tabs-swiper-clone::after {
    width: 80px;
  }
  .similar {
    padding-top: 30px;
    padding-bottom: 71px;
  }
}

/* 4й брейкпоинт 583рх */
@media (max-width: 583px) {
  .header {
    padding-bottom: 0;
  }
  .about {
    padding-bottom: 40px;
  }
  .about__container {
    gap: 16px;
  }
  .about__title-block {
    grid-column: span 2;
    margin-bottom: 15px;
  }
  .about__rating {
    width: 45px;
    font-size: 16px;
    margin-bottom: 3px;
  }
  .about__star {
    width: 16px;
    height: 15px;
  }
  .about__item-title {
    font-size: 16px;
  }
  .about__price {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .about__btns-block {
    width: 100%;
  }
  .about__btn {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .about__info-block {
    margin-bottom: 15px;
  }
  .about__secondary-image {
    -ms-grid-row: 5;
        grid-row-start: 5;
    margin-bottom: 16px;
  }
  .tabs-swiper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    height: auto;
  }
  .tabs-swiper__wrapper {
    padding: 10px;
  }
  .tabs-swiper__slide:not(:last-child) {
    margin-right: 38px;
    margin-bottom: 0;
  }
  .attributes-list {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .attributes-list__key {
    font-size: 10px;
    line-height: 14px;
  }
  .attributes-list__value {
    line-height: 19px;
  }
  .attributes-list__value:not(:last-child) {
    margin-bottom: 8px;
  }
  .attributes-list__dots-element {
    display: none;
  }
  .similar {
    position: relative;
    padding-bottom: 118px;
  }
  .similar .swiper-btns-block {
    position: absolute;
    right: calc(50% - 38.5px);
    bottom: 70px;
  }
  .swipers-clone {
    top: 25px;
  }
  .mail-us-form__title {
    font-size: 24px;
  }
}
/*# sourceMappingURL=item-card.css.map */